<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="box">
            <h1 class="title">{{dev_name1}}</h1>
            <h1 class="datetime">Data as of: {{current_date_time1}}</h1>
            <div class="information">
                <span class="data">{{humidity1}}</span>
                <span class="header">Relative humidity:</span>
            </div>  
            <div class="information">
                <span class="data">{{temperature1}}</span>
                <span class="header">Temperature:</span>
            </div>
            <img class="graph" src='/static/60min_humidity_1_graph.png' alt="Graph of humidity">
            <img class="graph" src='/static/60min_temperature_1_graph.png' alt="Graph of temperature">
            <img class="graph" src='/static/1440min_humidity_1_graph.png' alt="Graph of humidity">
            <img class="graph" src='/static/1440min_temperature_1_graph.png' alt="Graph of temperature">
        </div>
    </body>

    <body>
        <div class="box">
            <h1 class="title">{{dev_name2}}</h1>
            <h1 class="datetime">Data as of: {{current_date_time2}}</h1>
            <div class="information">
                <span class="data">{{humidity2}}</span>
                <span class="header">Relative humidity:</span>
            </div>  
            <div class="information">
                <span class="data">{{temperature2}}</span>
                <span class="header">Temperature:</span>
            </div>
            <img class="graph" src='/static/60min_humidity_2_graph.png' alt="Graph of humidity">
            <img class="graph" src='/static/60min_temperature_2_graph.png' alt="Graph of temperature">
            <img class="graph" src='/static/1440min_humidity_1_graph.png' alt="Graph of humidity">
            <img class="graph" src='/static/1440min_temperature_1_graph.png' alt="Graph of temperature">
        </div>
    </body>
</html>